:host
{
    display: flex; /* needed for reverse ordering */
    flex-direction: column;
    overflow: auto;
}
:host([empty])::before
{
    content: attr(placeholder);
    color: graytext;
    font-style: italic;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

::slotted([data-entry])
{
    cursor: pointer;
    flex-shrink: 0; /* prevents squishing due to the flex display */
}

::slotted([data-active][data-entry])
{
    text-decoration: underline;
}

::slotted([data-entry][data-reversed])
{
    scale: .98;
    opacity: .5;
}